<div style="width: 100%; display: table;">
<div style="display: table-row">
<div class="animated fadeIn" style="width: 700px; display: table-cell;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div [hidden]="submitted">
          <form (ngSubmit)="onSubmit(offerForm)" method="post" #offerForm="ngForm" enctype="multipart/form-data" class="form-horizontal">
        <div class="card-header">
          <h4><strong>Input Offer Data</strong> - Inputs will be fed into statistical model </h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="channel">Channel</label>
              <div class="col-md-7">
                <select id="channel" name="channel" class="form-control form-control-sm" required [(ngModel)]="model.channel" #name="ngModel">
                  <option value="Commercial">Commercial</option>
                  <option value="Medicare Part D">Medicare Part D</option>
                  <option value="Managed Medicaid">Managed Medicaid</option>
                  <option value="Health Insurance Exchange">Health Insurance Exchange</option>
                  <option value="Cash Card">Cash Card</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="customer">Customer</label>
              <div class="col-md-7">
                <select id="customer" name="customer" class="form-control form-control-sm" required [(ngModel)]="model.customer" #name="ngModel">
                  <option value="CVS Caremark">CVS Caremark</option>
                  <option value="Express Scripts Senior Care">Express Scripts Senior Care</option>
                  <option value="Optum Rx">Optum Rx</option>
                  <option value="Humana">Humana</option>
                  <option value="Prime">Prime</option>
                  <option value="Envision">Envision</option>
                  <option value="MagellanRx">MagellanRx</option>
                  <option value="Blue Cross Blue Shield Association">Blue Cross Blue Shield Association</option>
                  <option value="Kaiser Permanente">Kaiser Permanente</option>
                  <option value="SilverScript">SilverScript</option>
                  <option value="Ascent">Ascent</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="segment">Segment/Plan</label>
              <div class="col-md-7">
                <select id="segment" name="segment" class="form-control form-control-sm" required [(ngModel)]="model.segment" #name="ngModel">
                  <option value="FEP">FEP</option>
                  <option value="Aetna">Aetna</option>
                  <option value="Template">Template</option>
                  <option value="Customs">Customs</option>
                  <option value="ESI">ESI</option>
                  <option value="Premier Access">Premier Access</option>
                  <option value="Premier Performance">Premier Performance</option>
                  <option value="Choice & Value">Choice & Value</option>
                  <option value="All">All</option>
                  <option value="Walmart">Walmart</option>
                  <option value="CalPERS">CalPERS</option>
                  <option value="United Healthcare">United Healthcare</option>
                  <option value="Net Results">Net Results</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="brandOrManufacturer">Brand or Manufacturer</label>
              <div class="col-md-7">
                <select id="brandOrManufacturer" name="brandOrManufacturer" class="form-control form-control-sm" required [(ngModel)]="model.brandOrManufacturer" #name="ngModel">
                  <option value="Brand">Brand</option>
                  <option value="Manufacturer">Manufacturer</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="tier">Tier</label>
              <div class="col-md-7">
                <select id="tier" name="tier" class="form-control form-control-sm" required [(ngModel)]="model.tier" #name="ngModel">
                  <option value="Tier 1 - Generic">Tier 1 - Generic</option>
                  <option value="Tier 2 - Preferred">Tier 2 - Preferred</option>
                  <option value="Tier 3 - Non-Preferred">Tier 3 - Non-Preferred</option>
                  <option value="Tier 4 - Specialty">Tier 4 - Specialty</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="placement">Placement</label>
              <div class="col-md-7">
                <select id="placement" name="placement" class="form-control form-control-sm" required [(ngModel)]="model.placement" #name="ngModel">
                  <option value="1 of 1">1 of 1</option>
                  <option value="1 of 2">1 of 2</option>
                  <option value="1 of 3">1 of 3</option>
                  <option value="1 of Many">1 of Many</option>
                  <option value="Exclusive">Exclusive</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="formulary">Formulary</label>
              <div class="col-md-7">
                <textarea id="formulary" name="formulary" rows="2" class="form-control form-control-sm"
                  placeholder="Please enter formulary" required [(ngModel)]="model.formulary" #name="ngModel"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="restriction">Restriction</label>
              <div class="col-md-7">
                <select id="restriction" name="restriction" class="form-control form-control-sm" required [(ngModel)]="model.restriction" #name="ngModel">
                  <option value="Unrestricted">Unrestricted</option>
                  <option value="Prior Authorization">Prior Authorization</option>
                  <option value="1 Step Edit">1 Step Edit</option>
                  <option value="2 Step Edit">2 Step Edit</option>
                  <option value="NDC Block">NDC Block</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="product">Product</label>
              <div class="col-md-7">
                <select id="product" name="product" class="form-control form-control-sm" required [(ngModel)]="model.product" #name="ngModel">
                  <option value="0">Please select product</option>
                  <option value="Levemir">Levemir</option>
                  <option value="Tresiba">Tresiba</option>
                  <option value="NovoLog">NovoLog</option>
                  <option value="Victoza">Victoza</option>
                  <option value="Ozempic">Ozempic</option>
                  <option value="Saxenda">Saxenda</option>
                  <option value="Norditropin">Norditropin</option>
                  <option value="Novo-Seven">Novo-Seven</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="startDate">Start Date</label>
              <div class="col-md-5">
                <input class="form-control form-control-sm" id="startDate" type="date" name="startDate"
                  placeholder="date" required [(ngModel)]="model.startDate" #name="ngModel">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="endDate">End Date</label>
              <div class="col-md-5">
                <input class="form-control form-control-sm" id="endDate" type="date" name="endDate"
                 placeholder="date" required [(ngModel)]="model.endDate" #name="ngModel">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="rebate">Rebate</label>
              <div class="col-md-3">
                <div class="input-group">
                  <input id="rebate" name="rebate" class="form-control form-control-sm" size="12" type="text"
                  placeholder="" required [(ngModel)]="model.rebate" #name="ngModel">
                  <div class="input-group-append">
                    <span class="form-control form-control-sm">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="priceProtectionType">Price Protection Type</label>
              <div class="col-md-7">
                <select id="priceProtectionType" name="priceProtectionType" class="form-control form-control-sm"
                 required [(ngModel)]="model.priceProtectionType" #name="ngModel">
                  <option value="Cumulative">Cumulative</option>
                  <option value="Annual Reset">Annual Reset</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="priceProtectionThreshold">Price Protection Threshold</label>
              <div class="col-md-3">
                <div class="input-group">
                  <input id="priceProtectionThreshold" name="priceProtectionThreshold" class="form-control form-control-sm" size="12"
                   type="text" placeholder="" required [(ngModel)]="model.priceProtectionThreshold" #name="ngModel">
                  <div class="input-group-append">
                      <span class="form-control form-control-sm">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="priceProtectionLookbackDate">Price Protection Lookback Date</label>
              <div class="col-md-5">
                <input class="form-control form-control-sm" id="priceProtectionLookbackDate" type="date" name="priceProtectionLookbackDate" 
                placeholder="date" required [(ngModel)]="model.priceProtectionLookbackDate" #name="ngModel">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="shareShift">Share Shift</label>
              <div class="col-md-3">
                <div class="input-group">
                  <input id="shareShift" name="shareShift" class="form-control form-control-sm" size="12" type="text"
                   placeholder="" required [(ngModel)]="model.shareShift" #name="ngModel">
                  <div class="input-group-append">
                      <span class="form-control form-control-sm">%</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" style="width: 700px; display: table-cell; padding-top: 34px;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div [hidden]="submitted">
            <form (ngSubmit)="onSubmit(offerForm)" method="post" #offerForm="ngForm" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-header" style="text-align:center;">
            <strong>Input Offer CSV </strong> - Inputs will be fed into statistical model
          </div>
          <div class="card-body">
              <div class="form-group row">
                  <div class="col-md-10">
                  <p style="padding-left: 100px;"> Upload .csv file containing offer data for batch processing</p>
                  </div>
                  </div> 
              <div class="form-group row">
                <div class="col-md-7" style="padding-left:300px;">
                <button mat-raised-button style="width: 100px; height: 30px;">Select file</button>
                </div>
              </div>
            </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Upload</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Clear file</button>
          </div>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>